@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    margin: 0px;
    padding: 5px;
    height: 100%;
}

body {
    min-height: 100vh;
    box-sizing:border-box;
    font-family: 'DM Sans', sans-serif;
}